<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <EnableADPublish>false</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>fivep.com.au</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>..\..\deploy\OfficeDevPnP.PartnerPack.SiteProvisioning\OfficeDevPnP.PartnerPack.SiteProvisioning.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>OfficeDevPnPPartnerPackSiteProvisioning9</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureWebJobsStorage" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=pnppartnerpackstorage9;AccountKey=cnEqDoelDLZG++eHLI1Bp5BwK965/fotTrx5qN4/OClLEZ6Kn9euG2XeVrCohSDQOR0ABm4i3IEPR4YV7ty7+A==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=pnppartnerpackstorage9;AccountKey=cnEqDoelDLZG++eHLI1Bp5BwK965/fotTrx5qN4/OClLEZ6Kn9euG2XeVrCohSDQOR0ABm4i3IEPR4YV7ty7+A==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsStorage-Web.config Connection String" />
  </ItemGroup>
</Project>