@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.IndexViewModel

@{
    ViewBag.Title = "Governance";
}

<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12 ms-font-m">
            This is a temporary page for a Governance action!
        </div>
    </div>
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12 ms-font-m">
            &nbsp;
        </div>
    </div>
</div>
