@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.UpdateTemplatesViewModel

@{
    ViewBag.Title = "Update Templates";
}

@if (Model.JobId.HasValue && Model.JobId.Value != Guid.Empty)
{
    <div class="ms-Grid">
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
                The Updated Templates, if any, will be applied tenant-wide to all Sites and Site Collections. The ID assigned to the Job is: @Model.JobId.
            </div>
        </div>
    </div>
}
else
{
    using (Html.BeginForm("UpdateTemplates", "Governance", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="inputForm">

            <div class="ms-Grid">
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
                        Use this page to update your Sites and Site Collections with the latests versions of their corresponding templates.
                    </div>
                </div>
            </div>

        </div>

        <button class="ms-Button ms-Button--primary UpdateTemplates">
            <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
            <span class="ms-Button-label">Update Templates</span>
            <span class="ms-Button-description">Update templates</span>
        </button>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {

            // Hide the Working On It panel
            $("#WorkingOnIt").hide();

            // Handle wizard steps
            $(document).on("click", ".UpdateTemplates", updateTemplates);
        });

        function updateTemplates(e) {

            // Prevent default event
            e.preventDefault();

            $("form")[0].submit();
        }
    </script>
}