@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.IndexViewModel

@{
    ViewBag.Title = "Update Templates";
}

<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12 ms-font-m">
            Use this page to update your Site Collections with the latests versions of their corresponding templates.
        </div>
    </div>
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12 ms-font-m">
            &nbsp;
        </div>
    </div>
</div>

