@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.ApplyProvisioningTemplateViewModel

@{
    ViewBag.Title = "Apply Provisioning Template!";
}

<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
            Use this page to provision one or more Provisioning Templates to a target Site.
        </div>
    </div>
</div>
