@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.ApplyProvisioningTemplateViewModel

@{
    ViewBag.Title = "Apply Provisioning Template!";
}

<div class="table">
    <div class="row">
        <div class="col-sm-12">
            Use this page to provision one or more Provisioning Templates to a target Site.
        </div>
    </div>
</div>
