@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.CreateSiteCollectionViewModel

<div>

    <input type="hidden" id="@Html.IdFor(model => model.Step)" name="@Html.NameFor(model => model.Step)" value="@Model.Step" />

    <div class="table">
        <div class="row">
            <div class="col-sm-12">
                The Site Collection Provisioning Job has been scheduled. The ID assigned to the Job is: @Model.JobId.
            </div>
        </div>
    </div>

</div>
