
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table">
    <div class="row">
        <div class="col-sm-12">
            <div class="error">@Model.Exception</div>
        </div>
    </div>
</div>
