@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.IndexViewModel
@{
    ViewBag.Title = String.Format("Welcome to the {0}!", OfficeDevPnP.PartnerPack.Infrastructure.PnPPartnerPackSettings.Title);
}

<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12 ms-font-m">
            @Html.Raw(OfficeDevPnP.PartnerPack.Infrastructure.PnPPartnerPackSettings.WelcomeMessage)
        </div>
    </div>
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12 ms-font-m">
            &nbsp;
        </div>
    </div>
    @if (Model != null && !String.IsNullOrEmpty(Model.InfrastructuralSiteUrl))
    {
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12 ms-font-m">
                Go to the <a target="_blank" href="@Model.InfrastructuralSiteUrl">Infrastructural Site Collection</a>.
            </div>
        </div>
    }

</div>

<img src="https://telemetrypartnerpack.sharepointpnp.com/Home/Index" />