@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.IndexViewModel
@{
    ViewBag.Title = "Welcome to the PnP Partner Pack!";
}

<div class="table">
    <div class="row">
        <div class="col-sm-12">
            Welcome to the PnP Partner Pack, which is a project managed by the <a href="http://aka.ms/OfficeDevPnP" target="_blank">Office 365 Developers Patterns &amp; Practices</a> team!<br />
            This is a sample solution, including source code, that illustrates to the partners' ecosystem and customers how to get started truly on the transformation, and with typical SP add-in model implementations.<br />
            Here you can find samples about how to manage the provisioning of Site Collection or Sub Sites, applying one or more provisioning templates.<br />
            The provisioning is based on the new Remote Provisioning technique, by leveraging the PnP Provisioning Engine.<br />
            Let's play with this sample solution and enjoy the new Add-In Model for Microsoft SharePoint andd Microsoft Office 365.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Go to the <a target="_blank" href="@Model.InfrastructuralSiteUrl">Infrastructural Site Collection</a>.
        </div>
    </div>
    
</div>
