@{
    ViewBag.Title = "My Provisioned Sites";
}

<div class="table">
    <div class="row">
        <div class="col-sm-12">
            Here you can find the list of your provisioned sites!
        </div>
    </div>
</div>

