@using OfficeDevPnP.PartnerPack.Infrastructure.Jobs

@{
    ViewBag.Title = "My Site Collections";
}

<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12 ms-font-m">
            Here you can find the list of your provisioned site collections.
        </div>
    </div>
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
            &nbsp;
        </div>
    </div>

    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
            @Html.Partial("~/Views/Shared/_WorkingOnIt.cshtml")
            <div id="SiteCollectionsList">
            </div>
        </div>
    </div>

</div>

<script language="javascript">

    $(document).ready(function () {

        // Hide the Site Collection details panel
        $("#SiteCollectionsList").hide();
        $("#WorkingOnIt").hide();

        $(document).on("click", "#RefreshButton", refreshSiteCollectionsList);

        refreshSiteCollectionsList();
    });

    function refreshSiteCollectionsList() {

        // Hide the Site Collection details panel
        $("#SiteCollectionsList").hide();
        $("#WorkingOnIt").show();

        // Query for site collection settings
        $.ajax({
            method: "POST",
            url: "/Home/GetMyProvisionedSitesList",
            success: function (result) {
                if (result) {
                    $("#SiteCollectionsList").html(result);

                    $("#WorkingOnIt").hide();
                    $("#SiteCollectionsList").show();
                }
            },
            error: function (xhr, status, error) {
                $("#WorkingOnIt").hide();
                $("#SiteCollectionsList").hide();
                alert("Error retrieving the list of Site Collections: " + error);
            }
        });
    }

</script>


<img src="https://telemetrypartnerpack.sharepointpnp.com/Home/MyProvisionedSites" />