@{
    ViewBag.Title = "My Provisioned Sites";
}

<div class="table">
    <div class="row">
        <div class="col-md-12">
            Here you can find the list of your provisioned sites.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table">
                <div class="row gridHeader">
                    <div class="col-md-4 noOverflow">Site URL</div>
                    <div class="col-md-4 noOverflow">Title</div>
                    <div class="col-md-1">Status</div>
                    <div class="col-md-2">Details</div>
                </div>
                <div class="row">
                    <div class="col-md-4 noOverflow"><a href="https://piasysdev.sharepoint.com/sites/PnPProvisioningDemo">https://piasysdev.sharepoint.com/sites/PnPProvisioningDemo1</a></div>
                    <div class="col-md-4 noOverflow">PnP Provisioning Demo 1</div>
                    <div class="col-md-1">Provisioned</div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-4 noOverflow"><a href="https://piasysdev.sharepoint.com/sites/PnPProvisioningDemo">https://piasysdev.sharepoint.com/sites/PnPProvisioningDemo2</a></div>
                    <div class="col-md-4 noOverflow">PnP Provisioning Demo 2</div>
                    <div class="col-md-1">Pending</div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-4 noOverflow"><a href="https://piasysdev.sharepoint.com/sites/PnPProvisioningDemo">https://piasysdev.sharepoint.com/sites/PnPProvisioningDemo3</a></div>
                    <div class="col-md-4 noOverflow">PnP Provisioning Demo 3</div>
                    <div class="col-md-1">Running</div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-4 noOverflow"><a href="https://piasysdev.sharepoint.com/sites/PnPProvisioningDemo">https://piasysdev.sharepoint.com/sites/PnPProvisioningDemo4</a></div>
                    <div class="col-md-4 noOverflow">PnP Provisioning Demo 4</div>
                    <div class="col-md-1">Failed</div>
                    <div class="col-md-2">Error bla bla bla</div>
                </div>
            </div>
        </div>
    </div>
</div>

