@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.CreateSubSiteViewModel

<div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
        @Html.EditorFor(model => model.InheritPermissions)
    </div>
</div>

