@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.CreateSiteViewModel
@using OfficeDevPnP.PartnerPack.SiteProvisioning.Models

<div>

    <input type="hidden" id="@Html.IdFor(model => model.Step)" name="@Html.NameFor(model => model.Step)" value="@Model.Step" />

    <h3>Template Parameters</h3>

    @if (Model.Step == CreateSiteStep.TemplateParameters && (Model.TemplateParameters == null || Model.TemplateParameters.Count == 0))
    {
        <div class="informationText">There are no template parameters. You can simply proceed with Site creation.</div>
    }

    <input type="button" class="btn-default btn PreviousStep" value="Previous" />
    <input type="button" class="btn-primary btn NextStep" value="Create" />

</div>
