@model Kasanova.it.WorkflowEngine.O365App.Models.PrincipalViewModel

@if (Model != null)
{
<div class="ms-Persona">
    <div class="ms-Persona-imageArea">
        <div class="ms-Persona-initials @Model.BadgeColor">@Model.Abbreviation</div>
        @if (!String.IsNullOrEmpty(Model.Mail))
        {
        <img class="ms-Persona-image" src="/Persona/GetPhoto?upn=@(Model.Mail)&height=48&width=48">
        }
    </div>
    @*<div class="ms-Persona-presence"></div>*@
    <div class="ms-Persona-details">
        <div class="ms-Persona-primaryText">@Model.DisplayName</div>
        <div class="ms-Persona-secondaryText">@Model.JobTitle</div>
    </div>
</div>
}

<script type="text/javascript">
    $().ready(function () {
        FixPersonaImages();
    });
</script>