body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    margin-left: 145px;
}

h1 {
    display: inline;
    vertical-align: middle;
}

img.siteIcon {
    display: inline;
    margin-left: 40px;
    margin-right: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: #333 !important;
}