@model System.String

@{
    var globalTemplates =
        new SelectListItem[]
        {
            new SelectListItem { Text = "Global Template 01", Value = "https://piasysdev.sharepoint.com/sites/PnP-Partner-Pack-Infrastructure/PnPProvisioningTemplates/GlobalTemplate01.xml" },
            new SelectListItem { Text = "Global Template 02", Value = "https://piasysdev.sharepoint.com/sites/PnP-Partner-Pack-Infrastructure/PnPProvisioningTemplates/GlobalTemplate01.xml" },
            new SelectListItem { Text = "Global Template 03", Value = "https://piasysdev.sharepoint.com/sites/PnP-Partner-Pack-Infrastructure/PnPProvisioningTemplates/GlobalTemplate01.xml" },
        };
    var localTemplates =
        new SelectListItem[]
        {
            new SelectListItem { Text = "Local Template 01", Value = "https://piasysdev.sharepoint.com/sites/PnP-Partner-Pack-DevSite/PnPProvisioningTemplates/LocalTemplate01.xml" },
            new SelectListItem { Text = "Local Template 02", Value = "https://piasysdev.sharepoint.com/sites/PnP-Partner-Pack-DevSite/PnPProvisioningTemplates/LocalTemplate01.xml" },
            new SelectListItem { Text = "Local Template 03", Value = "https://piasysdev.sharepoint.com/sites/PnP-Partner-Pack-DevSite/PnPProvisioningTemplates/LocalTemplate01.xml" },
        };
}
<div id="template-tabs">
    <ul>
        <li><a href="#tab-global-templates">Global Templates</a></li>
        <li><a href="#tab-local-templates">Local Templates</a></li>
    </ul>
    <div id="tab-global-templates">
        @Html.DropDownListFor(model => model, globalTemplates, new { style = "width:100%;", size = "5" })
    </div>
    <div id="tab-local-templates">
        @Html.DropDownListFor(model => model, localTemplates, new { style = "width:100%;", size = "5" })
    </div>
</div>

@Html.ValidationMessageFor(model => model)
