body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #eee;
}

.login {
    float: left;
}

    .login > h1 {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
        padding-left:140px;
    }

.login-input {
    display: block;
    width: 195px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 20px;
}

.bold-class {
    font-weight: bold !important;
}

.results {
    height: 275px;
    overflow: auto;
    padding: 40px 0px 15px 15px;
}

.ui-autocomplete {
    height: 200px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
